<div class="row col-md-12">
    <div class="col-md-4">
        <h5 style="font-weight: bold;font-size: 1.1rem;">Voucher Series Master</h5>
  
    </div>
    <div class="col-md-8">
        <!-- <button class="btn btn-info pull-right" style="font-size: 12px;" routerLink="/pages/dashboard">Back</button> -->
        <button *ngIf="userSetting.enableMaster_AddEdit==1" type="button" class="btn btn-info pull pull-right" (click)="AddVoucher()" style="font-size: 12px;">Add Voucher </button>
  
    </div>
  </div>
  
  <div class="row" style="align-items: center;">
    <div class="col-md-12 col-sm-8" style="margin-top:0.5rem">
  
      <div class="card" style="margin: auto; width: 63rem;">
        <div class="card-header">
          
          <span class="col-md-6" >Voucher Lists</span>
          <div style="margin-left: 15rem;">
            <input type="text" name="search" [(ngModel)]="filter" #searchFilter="ngModel" class="form-control" placeholder="Search..." style="width: 15rem; height: 1.7rem; padding: 0px 6px;" autocomplete="off">
          </div>
         
          
        </div>
  
        <div class="card-body">
          <table class="table table-striped">
            <thead>
                <tr style="position: sticky; top:0;line-height: 1.5rem;">
                    <th scope="col" style="width:3%">S.N</th>
                    <th scope="col" style="width:10%">Voucher Type</th>
                    <th scope="col" style="width:18%">Voucher Series Name</th>
                    <th scope="col" style="width:8%">Prefix</th>
                    <th scope="col" style="text-align:center;width:18%">Action</th>
                </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="voucherSeriesList" >
                <tr *ngFor="let voucher of (this.voucherSeriesList| searchData:filter); let i = index">
                  <td style="width:3%;">{{i+1}}</td>
                  <td style="width:10%;">{{voucher.VOUCHER_ID}}</td>
                  <td style="width:18%;">{{voucher.VSERIES_NAME}}</td>
                  <td style="width:8%;">{{voucher.VSERIES_ID}}</td>

                  <td style="width:18%;text-align: center;">
                  <button *ngIf="userSetting.enableMaster_AddEdit==1" style="width: 60px;" type="button" class="btn btn-sm btn-info mr-1 btn-sm" (click)="onEditClick(voucher)" >Edit</button>
                  <button style="width: 60px;" type="button" class="btn btn-sm btn-info mr-1 btn-sm" (click)="onDeleteClick(voucher)">Delete</button>
  
                  </td> 
                </tr>
              </ng-container>
              <ng-container *ngIf="this.voucherSeriesList && (this.voucherSeriesList|searchData:filter).length === 0">
                <tr>
                  <td colspan="5">
                    <div class="font-weight-bold">Voucher Series List are unavailable.</div>
                  </td>
                </tr>
              </ng-container>
              <!-- <ng-container *ngIf="this.source.data && (this.source.data|searchData:filter).length === 0">
                <tr>
                  <td colspan="3">
                    <div class="font-weight-bold">Cost Center Information are unavailable.</div>
                  </td>
                </tr>
            </ng-container> -->
            </tbody>
        </table>
        </div>
  
      </div>
    </div>
  </div>