<div class="container">
    <div class="row">
        <!-- Filter Starts -->
        <div class="col-12 col-md-12 col-lg-6">
            <div style="background-color : #ffffff;">
                <div class="row">
                    <div class="modal-header" style="border:0px;">
                        <button type="button" class="close" data-dismiss="modal" (click)="hide()">&times;</button>
                        <h4 class="modal-title" style="padding-left: 20px;">Stock Report - Warehouse Wise </h4>
                    </div>
                    <div class="_left_section col-md-12" style="padding-left: 25px;padding-right: 25px;">
                        <fieldset>
                            <legend style="font-size:11px;font-weight: bold; width:auto">Date Range Selection :</legend>
                            <table>
                                <tr>
                                    <td><label class="smallBoldLabel">From:(AD)</label></td>
                                    <td><label class="smallBoldLabel">To:(AD)</label></td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="smallBoldLabel"><input type="date"
                                                style="width:152px; min-width:50%;" placeholder="Year Start Date"
                                                [(ngModel)]=" _reportFilterService.CurrentStockWarehousewiseAccObj.CurrentStockWarehouseWiseAccount_DATE1"
                                                (change)="changeEntryDate($event.target.value,'AD')"></label>
                                    </td>
                                    <td>
                                        <label class="smallBoldLabel"><input type="date"
                                                style="width:152px; min-width:50%;" placeholder="Year Start Date"
                                                [(ngModel)]="_reportFilterService.CurrentStockWarehousewiseAccObj.CurrentStockWarehouseWiseAccount_DATE2"
                                                (change)="changeEndDate($event.target.value,'AD')"></label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <nepali-date-picker name="nepaliDatefrom" [id]="'nepaliDatefrom'"
                                            (change)="changeEntryDate($event.detail.value,'BS')" [label]="'From'"
                                            [(ngModel)]="_reportFilterService.CurrentStockWarehousewiseAccObj.CurrentStockWarehouseWiseAccount_BSDATE1">
                                        </nepali-date-picker>
                                    </td>
                                    <td>
                                        <nepali-date-picker name="nepaliDateto" [id]="'nepaliDateto'"
                                            (change)="changeEndDate($event.detail.value,'BS')" [label]="'To'"
                                            [(ngModel)]="_reportFilterService.CurrentStockWarehousewiseAccObj.CurrentStockWarehouseWiseAccount_BSDATE2">
                                        </nepali-date-picker>
                                    </td>
                                </tr>
                            </table>
                        </fieldset>

                        <div class="row" style="margin-top: 10px; margin-left: 2px; margin-bottom: 10px;">
                            <div class="col-md-1">
                                <input type="checkbox"
                                    [(ngModel)]="_reportFilterService.CurrentStockWarehousewiseAccObj.CurrentStockWarehouseWiseAccount_SHOWBATCHWISE"
                                    (change)="$event.target.checked?(_reportFilterService.CurrentStockWarehousewiseAccObj.CurrentStockWarehouseWiseAccount_SHOWBATCHWISE=1):(_reportFilterService.CurrentStockWarehousewiseAccObj.CurrentStockWarehouseWiseAccount_SHOWBATCHWISE=0)"
                                    [checked]="_reportFilterService.CurrentStockWarehousewiseAccObj.CurrentStockWarehouseWiseAccount_SHOWBATCHWISE==1">
                            </div>
                            <div calss="col">
                                <label style="width: 200px;" class="smallBoldLabel">Show Batch
                                    Wise Stock Report</label>
                            </div>
                        </div>
                        

<!-- 

                        <fieldset>
                            <legend style="font-size:11px;font-weight: bold; width:auto">Company:</legend>
                            <select class="form-control" style="min-width:50%;" [(ngModel)]="_reportFilterService.CurrentStockWarehousewiseAccObj.CurrentStockWarehouseWiseAccount_COMPANY">
                                <option value="%">All</option>
                                <option value="Nestle">Nestle</option>
                                <option value="Non Nestle">Non-Nestle</option>
                            </select>
                        </fieldset>

                        <fieldset>
                            <legend style="font-size:11px;font-weight: bold; width:auto">Warehouse Type:</legend>
                            <select class="form-control" style="min-width:50%;" [(ngModel)]="_reportFilterService.CurrentStockWarehousewiseAccObj.CurrentStockWarehouseWiseAccount_WAREHOUSETYPE">
                                <option value="%">All</option>
                                <option value="sellable">Saleable</option>
                                <option value="nonsellable">UnSaleable</option>
                            </select>
                        </fieldset>

                        <fieldset>
                            <legend style="font-size:11px;font-weight: bold; width:auto">Warehouse:</legend>
                            <select class="form-control" style="min-width:50%;" [(ngModel)]="_reportFilterService.CurrentStockWarehousewiseAccObj.CurrentStockWarehouseWiseAccount_WAREHOUSE">
                                <option value="%">All</option>
                                <option  *ngIf="_reportFilterService.CurrentStockWarehousewiseAccObj.CurrentStockWarehouseWiseAccount_WAREHOUSETYPE == 'sellable'" value="Main Warehouse">Main Warehouse</option>
                                <ng-container *ngIf="_reportFilterService.CurrentStockWarehousewiseAccObj.CurrentStockWarehouseWiseAccount_WAREHOUSETYPE == 'nonsellable'">
                                    <option *ngFor="let w of warehouseList" [value]="w.NAME">{{w.NAME}}</option>
                                </ng-container>

                            </select>
                        </fieldset> -->

                        <div class="modal-footer" style="width : 97%; margin : 0px auto;">
                            <button class="btn btn-info confirm-btn" type="button" (click)=onload()>RUN</button>
                            <button type="button" (click)="closeReportBox()" title="Cancel" class="btn btn-info">Close</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Filter Ends -->
        <!-- Modal Starts -->
        <div class="col-12 col-md-12 col-lg-6">

        </div>
        <!-- Modal Ends -->
    </div>
</div>