
.modal-content {
    padding: 1px;
    margin: 0px;
    float: right;
}

.modal-content {
    box-shadow: -10px 0px 10px 1px #aaaaaa;
}

.modal-content-summary-area {
    max-height: 20%;
    height: 20%;
    overflow: auto;
    overflow-x: hidden;
}

/* layout.css Style */
.upload-drop-zone {
    height: 80px;
    border-width: 2px;
    margin-bottom: 0px;
}

/* skin.css Style*/
.upload-drop-zone {
    color: #c7dadf;

    border-style: dashed;
    border-color: #c7dadf;
    border-radius: 2px;
    line-height: 75px;
    text-align: center;
    cursor: pointer;
    height: 12.5rem;
}

.sample-download-area {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}

.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}

.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.image-preview-input input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.image-preview-input-title {
    margin-left: 2px;
}

.form-control {
    height: 35px;
}

.file-dropover-continue {
    color: #1b6ed6;
    border-style: dashed;
    border-color: #1b6ed6;
    background: #ded4d4;
}

.modal-sticky {
    position: fixed;
    top: 275px;
    right: 20px;
    width: 40%;
    z-index: 9999999;
}




.outerbox {
    padding: 50px;
    background-color: #C8E6FE;
    border: 1px solid #B6B3B3;
    border-radius: 8px;
}
thead th{
    color: #fff !important;
}

.item-4 {

    padding-top: 7px;
    margin-top: 6px;
    border: none;
    width: 20px;
    height: 20px;
    position: relative;
    border-radius: 50%;
    background-color: #FFF;
    
    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 80%;
      height: 2px;
      background-color: #36658d;
      left: 50%;
      top: 50%;
    }
    &:after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &:before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
   
  }
