<div class="row">
    <div id="cellpay-form"   class = "col-md-12">
        <form action="https://new1.cellpay.com.np/cpay/submit" method="post">
            <input type="hidden" name="product_name" value="SHOES">
            <input type="hidden" name="merchand_id" value="123">
            <input type="hidden" name="product_id" value="100">
            <input type="hidden" name="description" value="abcd">
            <input type="hidden" name="amount" value="10000">
            <input type="hidden" name="quantity" value="1">
            <input type="hidden" name="invoice_number" value="7373">
            <input type="hidden" name="sucess_callback" value="Sucess url">
            <input type="hidden" name="failure_callback" value="failure_url">
            <input type="hidden" name="transaction_type" value="Type">
            <input type="hidden" name="cancel_callback" value="a">
            <input type="submit" class="btn btn-custom" value = "cellpay">
            
        </form>
    </div>
</div>