<style>
  .table-summary>tbody>tr>td {
    font-size: 12px;
    font-weight: bold;
  }

  .table-summary>tbody>tr>td:first-child {
    text-align: left !important;
  }

  .trn-main-voucher-entry {
    width: 100%;
    /* border: 2px solid #e6e6e6; */
  }

  .trn-main-entry-area {
    min-height: 85px;
    max-height: 210px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .Remarks1 {
    margin-left: 0%;
    padding: 0px;
  }

  .Remarks2 {
    margin-left: 0%;
    padding: 0px;
  }
</style>
<div class="clearfix trn-main-voucher-entry">
  <div class="clearfix" style="padding: 10px 5px">
    <div class="col-md-12" style="border-bottom: 1px solid #828080;
    margin-bottom: 5px;
    background: #e2eaea;">
      <!-- /**Voucher No**/ -->
      <div style="padding: 0px;" class="col-md-3">
        <label>Voucher No :</label>
        <!-- <input [disabled]="_transactionService.TrnMainObj.Mode == 'VIEW'" 
         [(ngModel)]="_transactionService.TrnMainObj.VCHRNO"> -->
        <!-- <label>{{_transactionService.TrnMainObj.VCHRNO}}</label> -->
        <b>{{_transactionService.TrnMainObj.VCHRNO}}</b>
      </div>

      <div style="padding: 0px;" class="col-md-4" *ngIf="isShowingDate && (voucherType != 22 && voucherType != 23)">
        <label class="smallBoldLabel"><b>Date</b></label>
        <div *ngIf="isShowingDate && (voucherType != 22 && voucherType != 23)">{{EntryDate.DATE3}}</div>
      </div>
      <!-- /**Entry Date Date**/ -->
      <div style="padding: 0px; margin-bottom: 10px;margin-top: 4px; height: 28px;" class="col-md-4"
        *ngIf="!isShowingDate">
        <label class="smallBoldLabel">Entry Date :</label>
        <input type="date" #adEntryDate id="date" style="width:121px" placeholder="Year Start Date"
          [disabled]="_transactionService.TrnMainObj.Mode == 'VIEW'" [(ngModel)]="EntryDate.DATE3"
          (change)="changeEntryDate1($event.target.value,'AD')" (focusout)="focusOutEntryDate($event)"
          max="{{date1 | date:'yyyy-MM-dd'}}" min="{{date2 | date:'yyyy-MM-dd'}}"> &nbsp;A.D&nbsp;

        <!-- <input id="nepaliDate" #bsEntryDate type="date" autocomplete="off"
          style="width:90px;height:25px;text-align:left" class="nepali-calendar ndp-nepali-calendar"
          [disabled]="_transactionService.TrnMainObj.Mode == 'VIEW'" [(ngModel)]="EntryDate.BSDATE1" type="text"
          (change)="changeEntryDate1($event.target.value,'BS')" placeholder="yyyy-mm-dd"> &nbsp;B.S -->
      </div>
      <div style="padding: 0px; width: 121px; margin-bottom: 10px; margin-top: 4px; margin-left:-180px;"
        class="col-md-4" *ngIf="!isShowingDate">
        <nepali-date-picker name="nepaliDateFrom" [id]="'nepaliDatefrom'"
          (change)="changeEntryDate1($event.detail.value,'BS')" [label]="'From'"
          [disabled]="_transactionService.TrnMainObj.Mode == 'VIEW'" [(ngModel)]="EntryDate.BSDATE1">
        </nepali-date-picker>
      </div>
      <!-- /**TrnDate Date**/ -->
      <ng-container *ngIf="_transactionService.userSetting.SHOWTRNDATE==1">
        <div style="padding: 0px; margin-bottom: 10px;" class="col-md-4" *ngIf="!isShowingDate">
          <label class="smallBoldLabel">Trn Date :</label>
          <input type="date" #adTrnDate style="width:121px" placeholder="Year Start Date"
            [disabled]="_transactionService.TrnMainObj.Mode == 'VIEW'"
            (change)="changeEntryDate($event.target.value,'AD')" (focusout)="focusOutTrnDate($event)"
            [(ngModel)]="VoucherEntry.DATE1" max="{{date1 | date:'yyyy-MM-dd'}}" min="{{date2 | date:'yyyy-MM-dd'}}">
          &nbsp;A.D&nbsp;

          <input *ngIf="voucherType != 22 && voucherType != 23" #bsTrnDate id="nepaliDate"
            style="width:90px;height:25px;text-align:left" class="nepali-calendar ndp-nepali-calendar"
            [disabled]="_transactionService.TrnMainObj.Mode == 'VIEW'" [(ngModel)]="VoucherEntry.BSDATE1" type="text"
            (change)="changeEntryDate($event.target.value,'BS')" placeholder="yyyy-mm-dd" /> &nbsp;<span *ngIf="voucherType != 22 && voucherType != 23">B.S</span>
        </div>
      </ng-container>

      <!-- /**Phiscal Year Date**/ -->
      <div style="padding: 0px; margin-bottom: 10px;" class="col-md-3" *ngIf="voucherType == 22 || voucherType == 23">
        <label class="smallBoldLabel"><b>Date</b></label>
        {{EntryDate.PhiscalADDate}}
        <input id="nepaliDate" style="width:90px;height:25px;text-align:left" disabled
          class="nepali-calendar ndp-nepali-calendar" [(ngModel)]="EntryDate.PhiscalBSDate" type="text"
          (change)="changeEntryDate1($event.target.value,'BS')" placeholder="yyyy-mm-dd">
      </div>

      <div style="padding: 0px; margin-bottom: 10px;" class="col-md-3"
        *ngIf="isShowingDate && (voucherType != 22 && voucherType != 23)">
        <label class="smallBoldLabel"><b>Trn
            Date</b></label>
        {{VoucherEntry.DATE1}}
      </div>

    </div>
    <div [hidden]="masterService.ShowMore" class="col-md-12">
      <ng-container>
        <div class="row">
          <div class="col-md-12">
            <div *ngIf="_transactionService.userSetting.enableCostCenter==1" style="padding: 0px;" class="col-md-3">
              <label>Cost Center :</label>
              <select id="costcenter" [disabled]="_transactionService.TrnMainObj.Mode == 'VIEW'"
                [(ngModel)]="_transactionService.TrnMainObj.COSTCENTER" style="width: 60%;
                padding-left: 14px;">
                <option [ngValue]=""></option>
                <option *ngFor="let c of costlists" [ngValue]="c.CCID">
                  {{ c.COSTCENTERNAME }}</option>
              </select>
            </div>
            <!-- <div *ngIf="_transactionService.userSetting.enableSalesman==1
              && (_transactionService.TrnMainObj.VoucherType== 12 || _transactionService.TrnMainObj.VoucherType== 18)" style="padding: 0px;" class="col-md-3">
                
                <label>Salesman :</label>
                <select  id="costcenter"
                [disabled]="_transactionService.TrnMainObj.Mode == 'VIEW'"
                [(ngModel)]="_transactionService.TrnMainObj.SALESMAN" 
                style="width: 60%;
                padding-left: 14px;">
                  <option [ngValue]=""></option>
                  <option *ngFor="let c of salesmanlist" [ngValue]="c.SALESMANID">
                    {{ c.NAME }}</option>
                </select>
              </div>
               -->

            <div style="padding: 0px;" class="col-md-3" [hidden]="
            voucherType==66">
              <!-- For PrefixForRefNoInVEntry is 1-->

              <label>Refno. :</label>

              <select name="prefix" id="prefix" *ngIf="userSetting.PrefixForRefNoInvEntry==1"
                [disabled]="_transactionService.TrnMainObj.Mode == 'VIEW'"
                [(ngModel)]="_transactionService.TrnMainObj.CHALANNOPREFIX">
                <option value="" selected="selected">Choose Prefix</option>
                <option value="{{chalan.series}}" *ngFor="let chalan of chalanSeries;">{{chalan.series}}</option>
              </select>
              <input id="refno" type="text"
                [ngStyle]="userSetting.PrefixForRefNoInvEntry==1? {'width':'35%'}: {'width':'60%'}"
                [disabled]="_transactionService.TrnMainObj.Mode == 'VIEW' || masterService.postdatedvoucher==true"
                [(ngModel)]="_transactionService.TrnMainObj.CHALANNO" (change)="setChalanNumber()"/>
            </div>


            <!-- For PrefixForRefNoInVEntry is 0 and ENABLE_PP_REFERENCE_INRV: 0(Receipt Voucher only)-->
            <div style="padding: 0px;" class="col-md-2"
              [hidden]="userSetting.PrefixForRefNoInvEntry ==1 || _transactionService.TrnMainObj.voucherType!=66 || userSetting.ENABLE_PP_REFERENCE_INRV == 1">
              <label>Refno__.</label>
              <input type="text" style="width:32.5%" id="refno"
                [disabled]="_transactionService.TrnMainObj.Mode == 'VIEW' || masterService.postdatedvoucher==true"
                [(ngModel)]="_transactionService.TrnMainObj.CHALANNO" (change)="setChalanNumber()" />
            </div>
            <!-- For PrefixForRefNoInVEntry is 0 and ENABLE_PP_REFERENCE_INRV: 1(Receipt Voucher only)-->
            <div style="padding: 0px;" class="col-md-2"
            [hidden]="userSetting.PrefixForRefNoInvEntry ==1 || _transactionService.TrnMainObj.voucherType!=66 || userSetting.ENABLE_PP_REFERENCE_INRV == 0">
            <label>Refno11.</label>
            <input type="text" style="width:32.5%" id="refno"
              [disabled]="_transactionService.TrnMainObj.Mode == 'VIEW' || masterService.postdatedvoucher==true"
              [(ngModel)]="_transactionService.TrnMainObj.CHALANNO" (change)="setChalanNumber()" />
            </div>


            <div *ngIf='voucherType != 66 && voucherType != 75' style="padding: 0px;" class="col-md-3">
              <div *ngIf="voucherType != 22 && voucherType != 23"
                [ngClass]="userSetting.enableCostCenter == 0?'Remarks1':'Remarks2'">
                <label>Remarks :</label>
                <input type="text" style="width: 60%;" [disabled]="_transactionService.TrnMainObj.Mode == 'VIEW'"
                  [(ngModel)]="_transactionService.TrnMainObj.REMARKS" name="REMARKS" placeholder="Remarks" rows="2"
                  autocomplete="off">
              </div>
            </div>

            <div style="padding: 0px;" class="col-md-3" *ngIf="voucherType == 18 || voucherType == 17 || voucherType == 72">
              <label *ngIf="voucherType == 18 || (voucherType == 72 && this._transactionService.TrnMainObj.TRNMODE == 'Party Receipt')">Received From</label>
              <label *ngIf="voucherType == 17 || (voucherType == 72 && this._transactionService.TrnMainObj.TRNMODE == 'Party Payment')">Pay To :</label>
              <input #BILLTO type="text" style="width:60%;" [(ngModel)]="_transactionService.TrnMainObj.BILLTO"
                [disabled]="_transactionService.TrnMainObj.Mode == 'VIEW'" name="BILLTO" *ngIf="voucherType == 18 || (voucherType == 72 && this._transactionService.TrnMainObj.TRNMODE == 'Party Receipt')"
                placeholder="Received From" autocomplete="off" />
              <input #BILLTO type="text" style="width:60%;" [(ngModel)]="_transactionService.TrnMainObj.BILLTO"
                [disabled]="_transactionService.TrnMainObj.Mode == 'VIEW'" name="BILLTO" *ngIf="voucherType == 17 || (voucherType == 72 && this._transactionService.TrnMainObj.TRNMODE == 'Party Payment')"
                placeholder="Pay To" autocomplete="off" />
            </div>
            
            <div class="col-md-12" style="padding: 0px;" *ngIf="voucherType != 12 && voucherType != 62">

              <div style="padding: 0px;" class="col-md-3">
                <label *ngIf="(voucherType == 15 && _transactionService.TrnMainObj.AdditionalObj && _transactionService.TrnMainObj.AdditionalObj.INVOICETYPE == 'REVERSE')">Ref. CN No. :</label>
                <input *ngIf="(voucherType == 15 && _transactionService.TrnMainObj.AdditionalObj && _transactionService.TrnMainObj.AdditionalObj.INVOICETYPE == 'REVERSE')" id="RefBill" type="text" style="width: 60%;"
                  placeholder="Press Enter or Tab" (keydown.Tab)="TabRefBill()" (keydown.Enter)="TabRefBill()"
                  [(ngModel)]="_transactionService.TrnMainObj.AdditionalObj.CREFBILL"
                  [disabled]="_transactionService.TrnMainObj.Mode=='EDIT' || _transactionService.TrnMainObj.Mode=='VIEW'">

                <label *ngIf="voucherType == 18 || voucherType == 17 || voucherType == 65 || voucherType == 72 || voucherType == 75">Voucher
                  Type :</label>
                <!-- <label *ngIf=" voucherType == 16" style="width:30%">Party Type:</label> -->
                <select *ngIf="voucherType == 18 || voucherType == 17 || voucherType == 65 || voucherType == 72|| voucherType == 75"
                  style="width: 60%" [disabled]="_transactionService.TrnMainObj.Mode == 'VIEW' || (_transactionService.TrnMainObj.Mode == 'EDIT' && voucherType == 72)"
                  [(ngModel)]="_transactionService.TrnMainObj.TRNMODE" name="TRNMODE" (change)="VoucherTypeChangeEvent($event.target.value); TRNACName?.focus()
                    ">
                  <option *ngIf="voucherType == 18" value="Income Voucher">Income Voucher</option>
                  <option *ngIf="voucherType == 18 || voucherType == 72" value="Party Receipt">Party Receipt</option>
                  <option *ngIf="voucherType == 18" value="Mixed Receipt">Mixed Receipt</option>

                  <option *ngIf="voucherType == 17 || voucherType == 65 || voucherType == 72" value="Expenses Voucher">Expenses Voucher
                  </option>
                  <option *ngIf="voucherType == 17 || voucherType == 65 || voucherType == 75|| voucherType == 72" value="Party Payment">
                    Party Payment</option>
                  <option *ngIf="voucherType == 17" value="Mixed Payment">Mixed Payment</option>

                  <option *ngIf="voucherType == 15 || voucherType == 16" value="Customer">Customer</option>
                  <option *ngIf="voucherType == 15 || voucherType == 16" value="Supplier">Supplier</option>
                </select>

              </div>
              <div *ngIf="voucherType != 12 && voucherType != 62" style="padding: 0px;" class="col-md-3">
                <!-- //CashBank -->
                <label *ngIf="
                      
                      (_transactionService.TrnMainObj.TRNMODE == 'Party Receipt' ||
                      _transactionService.TrnMainObj.TRNMODE == 'Income Voucher' ||   
                      _transactionService.TrnMainObj.TRNMODE == 'Mixed Payment' ||
                      _transactionService.TrnMainObj.TRNMODE == 'Mixed Receipt' ||                   
                       _transactionService.TrnMainObj.TRNMODE == 'Expenses Voucher' && voucherType != 65 ||
                      _transactionService.TrnMainObj.TRNMODE == 'Party Payment'&& voucherType != 65) &&
                      voucherType != 72">Cash/Bank :</label>
                      
                <label *ngIf="voucherType == 72">Bank :</label>

                <label *ngIf="(_transactionService.TrnMainObj.TRNMODE == 'Single Payment' || partyArray == 0) || 
                (voucherType == 65 && _transactionService.TrnMainObj.TRNMODE == 'Party Payment' && partyArray)">Party
                  A/C:</label>

                <label *ngIf="(_transactionService.TrnMainObj.TRNMODE == 'Single Payment' && partyArray == 1) || 
                  (voucherType == 65 && _transactionService.TrnMainObj.TRNMODE == 'Expenses Voucher')">Expenses
                  A/C:</label>

                <label *ngIf="_transactionService.TrnMainObj.TRNMODE == 'Bank Withdraw Voucher' ||
                      _transactionService.TrnMainObj.TRNMODE == 'Cheque Encash'">Cash:</label>

                <label *ngIf="_transactionService.TrnMainObj.TRNMODE == 'Bank Deposit Voucher'">Cash/Cheque:</label>

                <label *ngIf="_transactionService.TrnMainObj.TRNMODE == 'Cash Transfer'">Transfer
                  From:</label>

                <label *ngIf="voucherType == 16 || (voucherType == 15 && _transactionService.TrnMainObj.AdditionalObj && _transactionService.TrnMainObj.AdditionalObj.INVOICETYPE == 'REVERSE')">Dr. Account:</label>
                <label *ngIf="(voucherType == 15 && _transactionService.TrnMainObj.AdditionalObj && _transactionService.TrnMainObj.AdditionalObj.INVOICETYPE != 'REVERSE') || voucherType == 41">Cr. Account:</label>
                <span
                  *ngIf="voucherType != 12 && voucherType != 62  && voucherType !=22 && voucherType !=23 && voucherType!=66"
                  class="cell-with-comment">
                  <input type="text" [disabled]="_transactionService.TrnMainObj.Mode == 'VIEW'"
                    [(ngModel)]="_transactionService.TrnMainObj.TRNACName" name="TRNAC" #TRNACName
                    (keydown)="preventInput($event)" autocomplete="off" (focus)="cashBankFocus($event)"
                    placeholder="press ENTER to Select A/C" (keydown.Tab)="focusToSubLedger()"
                    (keydown.Enter)="showAcPartyList(); TRNACName.blur();" style="width:60%" />
                  <!-- <span class="cell-comment" style="left: 135px;">
                    press ENTER or TAB to Select A/C
                  </span> -->
                </span>
                <!-- <input disabled type="text" style="width:47%" [(ngModel)]="_transactionService.TrnMainObj.TRNACName"
                  name="TRNACName" /> -->
              </div>
              <!-- <div style="padding: 0px;" class="col-md-3" style="margin-top: 10px;"
                *ngIf="voucherType == 16 || voucherType == 15">
                <input type="checkbox" [(ngModel)]="_transactionService.TrnMainObj.VATBILL"
                  [disabled]="_transactionService.TrnMainObj.Mode !='NEW'"
                  (change)="vatBillChange();_transactionService.TrnMainObj.VATBILL = $event.target.checked ? 1: 0">
                Exclude Transaction in Tax Report

              </div> -->
              <div *ngIf="_transactionService.userSetting.ENABLESUBLEDGER==1 && (_transactionService.TrnMainObj.VoucherType == 17 || _transactionService.TrnMainObj.VoucherType == 18)"
                              style="padding: 0px;" class="col-md-3">
                              <label>Sub Ledger :</label>
                              <input #CashBankSubLedgerInput id="CashBankSubLedgerInput" autocomplete="off"
                                [(ngModel)]="_transactionService.TrnMainObj.CASHBANK_SL_NAME" style="height:23px;width: 60%;"
                                (keyup.Enter)="onsubLedgerTab()" placeholder="press ENTER to Select"
                                [disabled]="(_transactionService.TrnMainObj.TRNACName=='' || _transactionService.TrnMainObj.TRNACName==null ||  _transactionService.TrnMainObj.HASSUBLEDGER==0) || _transactionService.TrnMainObj.Mode=='VIEW'" />
                            </div>

            </div>

          </div>
        </div>

      </ng-container>

      <!-- <ng-container *ngIf="isNote">
        <trntran-note-entry [noteType]="noteType"></trntran-note-entry>
      </ng-container> -->

    </div>

  </div>
</div>

<generic-popup-grid #genericGridACListParty [popupsettings]="gridACListPartyPopupSettings"
  (onItemDoubleClick)="onAcPartySelect($event)"></generic-popup-grid>
  <generic-popup-grid #genericGridRefBillPopup [popupsettings]="genericRefBillPopupSetting"
  (onItemDoubleClick)="onPerformaListDblClick($event)"></generic-popup-grid>
  
<generic-popup-grid #genericGridRefBill [popupsettings]="gridPopupSettingsForRefBill"
(onItemDoubleClick)="onRefBillSelected($event)"></generic-popup-grid>

<generic-popup-grid #gridSubLedgerSettingList [popupsettings]="gridSubLedgerSetting"
  (onItemDoubleClick)="onSubLedgerSelect($event)"></generic-popup-grid>